@import '../css/grid.css';
@import '..font-awesome/css/font-awesome.css';
@import '../font-awesome/fonts/fontawesome-webfont.eot';
@import '../font-awesome/fonts/fontawesome-webfont.svg';
@import '../font-awesome/fonts/fontawesome-webfont.ttf';
@import '../font-awesome/fonts/fontawesome-webfont.woff';
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300);

.navigation {
  z-index: 999;
position: relative;
left: -80px;
padding: 42px 0;
background: rgba(40, 40, 60, 0.5);
width: 1050px;
margin-top: 2px;
}
.navigation .sf-menu {
  z-index: 990;
  text-align: center;
  position: relative;
}
.navigation nav {
  position: relative;
  padding: 0;
  /*background-color: #FFF;*/
}
.select-menu {
  display: none !important;
}
.sf-menu ul {
  position: absolute;
  top: -999px;
  display: none;
}
.sf-menu > li > ul > li {
  float: none;
  position: static;
}
.sf-menu > li {
  float: left;
  font-weight: 300;
  position: relative;
  font-size: 25px;
  line-height: 22px;
}
.sf-menu > li + li {
  margin-left: 15px;
}
.sf-menu > li + li:after {
  content: '';
  background: url(../images/menu_sep.png) 0 0 no-repeat;
  height: 5px;
  width: 5px;
  position: absolute;
  left: -20px;
  top: 10px;
}
.sf-menu > li > a {
  position: relative;
  color: #ffffff;
  /*text-align: center;*/
  font-weight: 100;
  font-size: 25px;
  margin-left: 20px;
}
.sf-menu > li > a.sf-with-ul:after {
  content: '|';
  position: absolute;
  width: 5px;
  bottom: 15px;
  left: 50%;
  bottom: -5px;
  pointer-events: none;
  z-index: 999;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #fff transparent transparent transparent;
}
.sf-menu > li.sfHover > a,
.sf-menu > li.current > a,
.sf-menu > li > a:hover {
  color: #00b1ba;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 767px) {
  .navigation {
    float: none !important;
    padding: 10px 0px 10px !important;
    clear: both;
    margin: 0;
    width: auto;
    min-height: 0px;
  }
  .navigation nav {
    border: none !important;
    float: none !important;
    font: 12px/15px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #927c67;
    margin: 0 auto;
    padding-left: 0 !important;
  }
  .navigation nav ul {
    border: none;
  }
  .sf-menu {
    display: none !important;
    float: none;
  }
  .select-menu {
    font: 12px/15px Arial, Helvetica, sans-serif;
    color: #202020;
    width: 100%;
    margin: 0 auto;
    float: none;
    outline: none;
    display: block !important;
    border: 2px solid #fff ;
  }
}
#stuck_container {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 998 !important;
}
#stuck_container .isStuck {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#stuck_container .isStuck .menuBox {
  margin: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media only screen and (min-width: 979px) {
  .isStuck {
    background-color: #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
}
@media only screen and (max-width: 979px) {
  #stuck_container {
    position: relative !important;
    box-shadow: none;
  }
  .pseudoStickyBlock {
    height: 0 !important;
  }
}
html {
  width: 100%;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
sss * {
  -webkit-text-size-adjust: none;
}
body {
  position: relative;
  background: #00b1ba;
  color: #000000;
  font: 300 14px/20px 'Open Sans', sans-serif;
}

.ic {
  border:0;
  float:right;
  background:#fff;
  color:#f00;
  width:50%;
  line-height:10px;
  font-size:10px;
  margin:-220% 0 0 0;
  overflow:hidden;
  padding:0
}

strong {
  font-weight: 700;
}
address {
  font-style: normal;
}
p {
  margin-bottom: 20px;
}
p.offset__1 {
  margin-bottom: 13px;
}
input,
textarea {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
/****Heads****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  color: #54c8ff;
  font-size: 55px;
  line-height: 72px;
  margin-top: -10px;
  margin-bottom: 32px;
}
h2.head__1 {
  padding-top: 74px;
  font-size: 72px;
  margin-bottom: 26px;
  color: #FFF;
}
h3 {
  font-size: 36px;
  line-height: 72px;
  padding-top: 52px;
  margin-bottom: 17px;
}
h3.head__1 {
  margin-bottom: 12px;
  padding-top: 15px;
}
h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  padding-top: 60px;
  margin-bottom: 26px;
}
/****Lists****/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bolder;
}

.list-1 {
  padding-top: 1px;
}
.list-1 li {
  color: #5e5d5d;
  position: relative;
  padding-left: 26px;
  font-weight: normal;
}
.list-1 li:after {
  top: 1px;
  color: #929191;
  content: '';
  font: 14px/20px 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
}
.list-1 li + li {
  margin-top: 10px;
}
.cont_address {
  font-weight: normal;
  color: #5e5d5d;
}
.cont_address li + li {
  margin-top: 10px;
}
/****Links****/
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  color: #00b1ba;
}
.link-1 {
  color: #464545;
  font-size: 22px;
  line-height: 36px;
  display: inline-block;
  margin-top: 4px;
  font: 22px/36px 'Roboto Condensed', sans-serif;
}
.btn {
  float: right;
  display: block;
  color: #ffffff;
  font: 20px/24px 'Roboto Condensed', sans-serif;
  padding: 5px 17px 6px;
  background-color: #00b1ba;
}
.btn:hover {
  background-color: #000000;
  color: #ffffff;
}
/****classes****/
.mb0 {
  margin-bottom: 0px !important;
}
.m0 {
  margin: 0 !important;
}
.pad0 {
  padding: 0 !important;
}
.img_inner {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 4px;
}
.img_inner.fleft {
  float: left;
  width: auto !important;
  margin-right: 30px;
  margin-bottom: 0px;
}
.img_inner.fleft.noresize {
  margin-right: 20px;
  margin-top: 5px;
}
.img_fright {
  position: relative;
  top: -1px;
  margin-left: 20px;
  float: right;
}
.oh {
  overflow: hidden;
}
.fwn {
  font-weight: normal;
}
.fright {
  float: right !important;
}
.upp {
  text-transform: uppercase;
}
.alright {
  text-align: right;
}
.ta__center {
  text-align: center;
}
.ta__left {
  text-align: left;
}
.td__underline {
  text-decoration: underline;
}
.fw_med {
  font-weight: 500;
}
.wrapper,
.extra_wrapper {
  overflow: hidden;
}
.clear {
  float: none !important;
  clear: both;
}
.oh {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.rel {
  position: relative;
}
/*header*/
header {
  color: #e6e5e5;
  display: block;
  position: relative;
  z-index: 999;
  width: 100%!important;
  height: 100%!important;
  background: url(../images/university.jpg) center 0 no-repeat;
  background-size: cover;
}
header .rel {
  z-index: 999;
}
header h1 {
  text-align: center;
  z-index: 999;
  float: left;
  margin-bottom: 10px;
}
header h1 a {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}
header h1.stuck_head {
  opacity: 0;
}
.page1_header {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  padding-top: 13px;
}
.page1_header .banner {
  background-color: #086587;
  color: #ffffff;
  display: block;
  width: 50%;
  text-align: center;
  float: left;
  font-size: 18px;
  padding: 59px 0 14px;
}
.page1_header .banner .fa {
  margin-bottom: 27px;
  display: block;
  font-size: 72px;
  line-height: 48px;
}
.page1_header .banner:first-child + .banner {
  background-color: #0091c6;
}
.page1_header .banner:first-child + .banner + .banner {
  background-color:#0091c6;
}
.page1_header .banner + .banner + .banner {
  padding-top: 63px;
  padding-bottom: 13px;
}
.page1_header .banner.maxheight1 .fa {
  margin-bottom: 26px;
}
.page1_header .banner:hover {
  background-color: #000000 !important;
}
/****Content****/
#content {
  background-color: #fff;
  padding-bottom: 71px;
}
#content .content_gray {
  background-color: #fafdfe;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
  padding-bottom: 65px;
}
#content .content_gray.offset__1 {
  margin-top: 70px;
}
#content .content_gray.offset__2 {
  margin-top: 71px;
}
#content .content_gray.offset__2 h3 {
  margin-bottom: 12px;
}
/****Non suppage set****/
.page1 header {
  border-bottom: 1px solid #fff;
  /*padding-bottom: 51px;*/
}
.page1 #content {
  padding-bottom: 68px;
}
.page1 h3 {
  padding-top: 52px;
  margin-bottom: 10px;
}
/****Blocks****/
.block-1 {
  font: 20px/30px 'Roboto Condensed', sans-serif;
  background-color: #064E69;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  padding: 34px 0 18px;
}
.block-1 .support {
  margin-top: -13px;
  display: block;
}
.block-1 .support:hover {
  opacity: 0.4;
}
.block-1 .block-1_count {
  font-weight: 300;
  float: left;
  width: 100px;
  font-size: 72px;
  line-height: 58px;
}
.greet {
  padding: 0 70px 60px;
}
.greet p {
  font-size: 16px;
  margin-bottom: 22px;
}
.bq1 {
  position: relative;
  top: 3px;
  background-color: #f2f5f6;
  padding: 31px 57px 40px 58px;
  color: #626161;
}
.bq1 p {
  font-style: italic;
  margin-bottom: 11px;
}
.bq1 span {
  display: block;
  float: right;
  font-size: 16px;
  font-weight: 600;
}
.bq1 + .bq1 {
  margin-top: 56px;
}
.block-2 {
  overflow: hidden;
}
.block-2 + .block-2 {
  margin-top: 36px;
}
.block-2 + .block-2.offset__1 {
  margin-top: 62px;
}
.block-3 {
  margin-top: -2px;
}
.block-3 .count {
  background-color: #00b1ba;
  color: #ffffff;
  width: 68px;
  height: 68px;
  text-align: center;
  float: left;
  margin-right: 32px;
  font: 300 36px/68px 'Roboto Condensed', sans-serif;
  border-radius: 500px;
}
.bord_img {
  margin-top: -2px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 34px;
  border: 1px solid #b6b3b3;
}
.blog {
  padding-top: 38px;
  overflow: hidden;
}
.blog .extra_wrapper {
  overflow: visible;
}
.blog time {
  margin-right: 32px;
  padding-top: 42px;
  float: left;
  text-align: center;
  display: block;
  font: 300 18px/24px 'Roboto Condensed', sans-serif;
}
.blog time .count {
  background-color: #00b1ba;
  color: #ffffff;
  width: 68px;
  height: 68px;
  display: block;
  text-align: center;
  font: 300 36px/67px 'Roboto Condensed', sans-serif;
  border-radius: 500px;
  margin-bottom: 10px;
}
.blog time strong {
  margin-bottom: 3px;
  font-weight: normal;
  display: block;
  font-size: 24px;
}
.blog p {
  overflow: hidden;
}
.blog p em {
  font-style: italic;
  display: block;
}
.blog .comment {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: -3px;
  font: 18px/24px 'Roboto Condensed', sans-serif;
}
.blog .comment .fa {
  margin-right: 7px;
  color: #00b1ba;
  margin-top: 1px;
  font-size: 30px;
  line-height: 22px;
}
.blog .link-1 {
  margin-top: 18px;
}
.blog + .blog {
  margin-top: 24px;
}
/****Separators****/
/****Text styles****/
.text1 {
  font: 24px/20px 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
}
.text2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #5e5d5d;
}
.text3 {
  font-size: 18px;
  line-height: 20px;
  display: block;
}
.color1 {
  color: #00b1ba;
}
.color1 a:hover,
a.color1:hover {
  color: #464545;
}
.color2 {
  color: #464545;
}
.color3 {
  color: #5e5d5d;
}
/****Map****/
.map {
  overflow: hidden;
  padding-top: 1px;
}
.map figure {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.map figure iframe {
  width: 100%;
  height: 399px;
  max-width: 100%;
}
.address1 {
  display: block;
  float: left;
}
.address1 + .address1 {
  margin-left: 70px;
}
.address1 dt {
  margin-bottom: 13px;
}
.address1 dd span {
  min-width: 144px;
  display: inline-block;
  text-align: left;
}
.address1 dd span.col1 {
  min-width: 0;
}
/**Footer**/
#footer {
  padding: 25px 0;
  border-top: 1px solid #5c5c5c;
}
#footer a:hover {
  color: #ffffff;
}
#footer .copyright {
  font-weight: normal;
  color: #4b4a4a;
}
#footer .copyright .brand {
  position: relative;
  top: -4px;
  color: #000000;
  font: 300 24px/20px 'Roboto Condensed', sans-serif;
}
#footer .copyright .sub-copy {
  padding-top: 3px;
  color: #6d6a6a;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 51%;
  margin-left: 640px;
  overflow: hidden;
  border: none;
  background-color: #6b6b6b;
  color: #ffffff;
  width: 38px;
  height: 49px;
  font-size: 22px;
  line-height: 49px;
  text-align: center;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#toTop:hover {
  outline: none;
  color: #00b1ba;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
  .extra_wrapper {
    overflow: visible;
  }
  .banner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  h2 {
    margin-top: 0;
  }
  h3 {
    font-size: 26px;
  }
  .text1 {
    font-size: 20px;
  }
  .page1 header {
    -webkit-background-size: auto 100% !important;
    background-size: auto 100% !important;
  }
  .comment {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 979px) {
  .map figure,
  .map figure iframe,
  #form input,
  #form textarea,
  #form .success {
    width: 100% !important;
    float: none !important;
  }
  #form .success {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .map figure {
    height: auto !important;
    margin-bottom: 15px;
  }
  .nowrap {
    white-space: normal;
  }
  .img_inner.fleft {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .fright {
    float: none !important;
  }
  #contact-form {
    padding-top: 30px;
  }
  .text2.color1 {
    margin-top: 30px;
  }
  .address1 + .address1 {
    margin-left: 60px;
  }
  .page1 header {
    padding-bottom: 45px;
  }
  .support {
    margin-top: 0 !important;
  }
  .block-1 .block-1_count {
    margin-bottom: 30px;
  }
  .banner {
    margin-bottom: 10px;
    font-size: 24px !important;
    float: none !important;
    width: 100% !important;
  }
  .greet {
    padding-left: 0;
    padding-right: 0;
  }
  .img_inner,
  .img_inner.fleft {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
    margin-top: 30px;
  }
  .img_inner img,
  .img_inner.fleft img {
    width: 100%;
  }
  header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  header h1 {
    position: static !important;
    margin-bottom: 20px;
    float: none;
    left: 0;
    text-align: center;
  }
  header h1 a {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    display: block;
  }
  header h1 a img {
    display: block;
    margin: 0 auto;
  }
  .map figure iframe {
    height: 300px;
  }
  .content .noresize {
    width: auto !important;
    float: left !important;
    margin-right: 20px !important;
    margin-top: 4px !important;
  }
  .none {
    clear: both;
  }
  .bord_img {
    margin-top: 40px;
  }
  .block-3 {
    margin-bottom: 30px;
  }
}

/****CUSTOM CSS ****/
.top_icon{
  max-width: 165px;
  max-height: 219px;
  margin:2px 0;
}
.login_link{
    right: 0;
    font-size: 2em;
    float: right;
    margin-top: 50px;
    margin-right: 85px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.no-margin{
  margin:0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.light-blue{
  background:#08ADEF;
}

.light-blue-color{
  color:#08ADEF;
}

.dark-blue{
  background:#00006B;
}

.tint{
  background: rgba(43, 44, 44, 0.6);
  padding: 46px 0px 60px;
  margin:0;
  width: 100%!important;
  height: 100vh!important;
}

.margin-right-sm{
  margin-right: 5px;
}

.float-left{
  float: left;
}

.white-text > a{
  color:white !important;
}
.clear{
  clear: both;
}
/*Overridden bootstrap*/
.modal-sm .modal-content{
  width:500px!important;
}
.btn{
  border-radius: 0!important;
}
/****END OF CUSTOM CSS ****/
