@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Oswald|Lato|Droid+Sans|PT+Sans|Source+Sans+Pro|Open+Sans+Condensed:300|Roboto+Condensed|Droid+Serif|Ubuntu|Raleway|Montserrat|PT+Sans+Narrow|Roboto+Slab|Lobster|Arimo|Yanone+Kaffeesatz|Lora|Bitter);
body
{
	overflow-x: auto;
  position: relative;
}
.home-body{
background-color: #ADADAD;
}
.jumbotron{
    margin: 0;
    height: 600px;
    width: 100% !important;
    bottom: 0;
    z-index: -2;
    font-family: 'Helvetica', sans-serif;
    overflow: auto;
}

.side-course{
  overflow-x: auto;
  position: relative;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  color: #fff;
  margin-bottom: 20px;
  height:70px;
}



.navbar-default .navbar-brand{
	color:#27ae60;
  margin-bottom: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  margin-bottom: 20px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color:#d35400;

}

.navbar-default .navbar-nav > li > a{
	color: #ecf0f1;
  margin-top: 10px;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #7f8c8d;
}

.southernimage{
	background-image: url('../images/siteimage.jpg');
	background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
}


.modal-header{
  background-color: #000;
  
}

.modal-title{
color: #FFF;
}

/*.modal-body{
    height: 250px;
}*/

.modal-footer{
	margin-top: 0;
	background-color: #7f8c8d;
}

.modal-content{
   width: 900px;
}

.modal-table{
  width:850px !important;
}

.dropdown-menu > li > a:hover{
  background-color: #009900;
  color: #fff;
  border: 2px solid #000;
}

.divider{
  border: 1px solid #000;
  background-color: #000;
}

.home-top{
background-image: url('../images/uni2.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
    background-size: cover;
}

.home-top-text
{
  color:#FFF ;
  background-color: #000;
  opacity: 0.5;
}

.home-bottom{
  background-image: url('../images/contactone.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
    background-size: cover;
}

.home-bottom-text
{
  color:#fff ;
  background-color:#000 ;
  opacity: 0.5;
}

.contact-images{
  /*background-color: #FFF;*/
  margin-top: 250px;
  margin-left: 250px;
  /**/
  /*height: 100px;*/
  /*width: 250px;*/
}

.littleright{
  margin-right: 20px;
  width: 98px;
  height:100px;
}

#img_container
{
 position:absolute;
 display:none;
 margin-left: 500px;
 background:#fff;
 border-radius: 100%;
 }
#large_img
{
 width:170px;
 height:190px;
 
 }

 .contact-button{
   background-color: transparent;
 }

 .contact-button:hover{
  background-color: transparent;
  border-radius: 14%;
 }

 .slide-text{
  color: #000;
 }

 .home-slide{
  margin-top: 50px;
  height: 250px;
  opacity: .7;
  /*color: #000;*/
  /*width: 700px;*/
  /*background-color: #000;*/
 }

 .item{
  color: #FFF;
  /*font-size: 24px;*/
  font-family: "Helvetica";
  text-align: center;
  /*background-color: #808080;*/
 }

 .carousel-caption{
  text-align: center;
  /*bottom: 0px;*/
 }

 .first-header-ann{
  margin-top: 350px;
  margin-left: 90px;
  background-color: #ecf0f1;
  color: #2c3e50;
  opacity: 0.8;
 }

 .top-announcement{
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: top;
  /*background-attachment: fixed;*/
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
 /* background-size: cover;*/
  height: 800px;

 }

 hr{
  margin-top: 24px;
  border: 2px solid #000;
 }

 .fields{
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
  height: 600px;
  bottom: 0;
}

.bottomimage{
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-attachment: fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
 height: 100px;
}

.collap-color{
  background-color: #bdc3c7;
  color: #000;
}

.bottom_announce{
  margin-left: 40px;
  margin-top: 0;
}

.special_announcement{
  /*background-color: #000;
  opacity:0.7;*/
  margin-left: 80px;
  font-size: 18px;
  font-family: "Ubuntu";
  color: #c0392b;
}

.top-under{
background-image: url('../images/topundergraduateform.jpg');
  background-repeat: no-repeat;
  background-position:top;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.admission{
  width: 100%;
}

.titleadmissionno{
  font-size: 25px;
  width: 70%;
  margin-left: 20px;
  color: #19197A;
}

.admissionno{
  float: right;
  width: 30%;
}

.Admlength{
  width:200px;
  border-radius:50px; 
}

.procedure{
  background-image: url('../images/secondundergraduateform.jpg');
  background-repeat: no-repeat;
  background-position:top;
  height: 400px;
}

.home-icon{
  width: 50px;
  height: 50px;
}


.carou{
  margin-top: 70px;
  margin-right: 180px;
  margin-left: 180px; 
  height: 280px;
  background-color: rgba(0, 0, 0, 0.7);
}

.texted{
  margin-top:80px;
}

.status{
  background-color: #454545;
  height: 310px;
  margin: 10px 180px;
}

.inlining{
  display: inline;
}

.status h3{
  text-align: top;
}

.footer{
  margin-top: 10px;
  height: 500px;
  
  
}

.form-control{
  width:300px;
}

.footer_form{
  background-image: url('../images/black.jpg');
  background-position: center;
  background-color: #0066FF;
  width:550px;
  margin-left: 180px;
  float: left;
  height: 450px;
  border:2px solid #000;
  border-radius: 16px;
}

.footer_contacts{
  background-image: url('../images/contactone.jpg');
  /*opacity: 0.7;*/
  background-position: center;
  background-color: #CCCCA3;
  width: 300px;
  float: right;
  margin-right: 180px;
  border:2px solid #000;
  border-radius: 16px;
  height: 450px;
  font-family: "Ubuntu";
}

.footer_contacts > a{
  display: block;
  margin: 20px;
  color: rgba(0, 0, 0, 1.0);
  font-size: 24px;
}

.status_image{
  width: 250px;
  height: 250px;
}

.form-group{
  margin-left: 20px;
  color: #FFF;
  font-size: 24px;
}

.contact_icons{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.ind{
  width: 20px;
}

.home-body{
  background-image: url('../images/green.jpg');
  height: 100%;
}

.navigation .sf-menu .regicolor{
  color: #FFFFFF;
}

.sf-menu > li.sfHover > a,
.sf-menu > li.current > a,
.sf-menu > li > a:hover {
  color: #54C8FF;
}

.mynav > nav > ul > li > a:hover{
  color: #54C8FF!important;
}

td .form-name{
  width:150px;
}


.table{
  width: 1100px;
}

.form-inputing{
  width:1000px;
}

.form-email{
  width: 100%;
}

.backcolor{
  background-color: #B2B2B2;
}

.desc1{
  width: 440px;
  height: 20px;
  /*display: block;*/
  /*text-align: center;*/
}

.desc2{
   width: 250px;
}

td.level{
  width:100px;
}

td.institute{
  width: 100px;
}

.appnav{
  height:64px;
  background-color:#000000;
}

.appnav .nav > li > a{
color: #FFFFFF;
}

.appnav .nav > li > a:hover{
  background-color:#000099;
  color:#FFFFFF;
  border-bottom:solid 4px #0066CC;
}

.appactive{
  height:64px;
  background-color: #000;
}

.leftdist{
  margin-left: 100px;
}

.appactive > a:hover{
  height:64px;
  background-color: #000;
}
strong, b{
  color: #fff;
}

.marketbold{
  color: #000;
}

.navbar-inverse .navbar-brand{
  
  font-size: 25px;
}

.str{
  font-weight: bold;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
  background-color: #FF0000;
}

footer a:hover{
  color:#0033CC;
}

.billboard.light{
  background-image: url('../images/uni2.jpg');
}

.buzconc{
  /*margin-top: 90px;*/
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Ubuntu';
  color: #000;
}

.buzpre{
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 60;
  font-family: 'Ubuntu';
  text-decoration: underline;
}

.buzcont{
  /*margin: 18px;*/
  /*text-align: justify;*/
  font-size: 25px;
  font-weight: 40;
  font-family: 'Ubuntu';
  /*background-color: #000000;*/
  color:#000;
  text-align: center;
  /*opacity: 0.8;*/
  /*width:800px;*/
  height: 400px;
  margin-top: 20px;
  padding: 20px;
  letter-spacing: 2px;
}

.preamble{
  /*margin-bottom: 0;*/
  height:600px;
  /*background-image: url('../images/bench.jpg');*/
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
    background-size: cover;
}

.no-margin{
  margin:0;
}

.video{
  height: 400px;
}

.premcontent{

margin: 30px 20px;

}

.billboard .caption.dark h1, h4{
  color:#000;
  font-size: 24px;
}

p.para{
  color:#FFF;
}

.homeopac{
  background-color: #000;
  opacity: 0.7;
  height: 380px;
}

.topabout{
  background-color: #FFF;
  opacity:0.7;
}

.not_home{
  font-weight: 23;
  background-color: #FFF;
}

/*#stuck_container{
    font-weight: 23;
  background-color: #FFF;
}*/

header.dark nav ul li a{
  color:#000099;
  
  text-align: center;
}

header.dark nav ul li a:hover{
  text-decoration: underline;
}

header nav{
  float:left;
  margin-left: 50px;

}

#nav ul li{
  font-size: 60px;
}

#nav ul li a.active span{
  font-size: 30px;
}

.offered{
  font-size: 25px;

}

.right{
  float: right;
}

.left{
  float: left;
}


.sf-menu > li > a {
color: #FFFFFF !important;
}

.sf-menu > li > a{
  color: #FFFFFF !important;;
}


.hed {
  color: #e6e5e5;
  display: block;
  position: relative;
  z-index: 999;
  width: 100%!important;
  background: url(../images/banner.jpg) center 0 no-repeat !important;
  background-size: cover;
}

.modcont{
  width:600px; 
  height:500px;
}

/*.greet{
  
  width: 100%;
 background: url(../images/uni5.jpg) center 0 no-repeat !important;
}*/  

  

.head__1{
  margin: 0px;
  color: #FFF;
}

.jumbotron{
    margin: 0;
    height: 700px;
    width: 100% !important;
    bottom: 0;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
}

.home-bot-image{
    background-image: url('../images/uni5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
}



